*{
   box-sizing: border-box; 
}
body {
    text-align: center;
}

.table {
    margin: auto;
    margin-top: 3%;
}

.cell {
    width: 40px;
    height: 40px;
    border: 3px solid rgb(0, 9, 128);
}


.mine {
    background-image: url(../images/mine.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.marked {
    background-image: url(../images/flag.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.back {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgba(134, 104, 104, 0.787);
}

.back:hover{
opacity: 0.7;
}

footer{
    position: absolute;
}